@tailwind base;
@tailwind components;
@tailwind utilities;



/* scrolbar */
::-webkit-scrollbar {
    width: 0.2em;
}

/* scrolbar backgrond with theme  */
html[data-theme="dark"]::-webkit-scrollbar {
    background-color: #1d1d1d;
}

/* scrolbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #575655a1;
}

/* scrolbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #1d1d1d;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Medium.ttf);
}